#logoid{
    width:128px;
}
#baslikid
{
    width:512px;
}
#socialid{
    width:350px;
}
#Label1{
    font-family:'Copperplate Gothic';
    padding:25px;
    font-size:50px;
    font-weight:bold;
    color:midnightblue;
                        
}
