#tasarim
{
    width:780px;
    margin:auto;

}
#tbl{
    width:50%;
}




#tdiletisimid {
    background-color: aqua;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Lucida Handwriting';
}

